* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

htlm {
    font-size: 62.5%;
}

body {
    width: 100%;
    background-color: #5a5a5a;
}

#container {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

#divChat {
    width: 65%;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#chat {
    width: 80%;
    height: 80%;
    background-color: white;
    overflow: auto;
    border-radius: 20px;
    box-shadow: 3px -3px 3px darkgrey;
    display: flex;
    flex-direction: column-reverse;
}

#chatContent {
    width: 100%;
}

#chatMessage {
    width: 100%;
    height: 50px;
}

#message {
    height: 50px;
    width: 90%;
}
#buttonChat {
    padding: 1%;
    border-radius: 10px;
}

#divUserLog, #divUserLogout {
    width: 18%;
    background-color: white;
    height: 300px;
    border-radius: 20px;
    box-shadow: 3px -3px 3px darkgrey;
    margin-top: 10vh;
}

#divUserLogout {
    height: 100px;
    width: 10%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#userLog, #userCreate {
    width: 100%;
    padding-top: 2%;
}

#divUserLog input, #divUserLog label {
    margin-top: 2%;
    padding: 1% 1% 1% 4%;
}



input {
    text-align: right;
    padding-right: 1%;
}

h2 {
    text-decoration-line: underline;
    width: 100%;
    text-align: center;
    margin-bottom: 2%;
}

#name {
    width: 100%;
    text-align: center;
    margin-top: 4%;
}

a {
    width: 100%;
}

.button, #button {
    width: 100%;
    padding: 1% 0;
    text-align: center;
    margin: 0;
}

#userCreate {
    margin-top: 5%;
}

.error, .notError {
    width: 100%;
    height: 30px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.error {
    background-color: red;
}

.notError {
    background-color: greenyellow;
}